body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #6f42c1;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Ajusta el tamaño del logo aquí */
.logo {
    width: 150px; 
    margin: 20px 0;
}

.section {
    display: none;
    padding: 20px;
    text-align: center;
    animation: fadeIn 0.5s ease;
}

.section.active {
    display: block;
}

.menu-item {
    margin: 20px 0;
    transition: transform 0.3s ease;
}

/* Agranda ligeramente el elemento al pasar el mouse */
.menu-item:hover {
    transform: scale(1.05); 
}

/* Añadir animación a la imagen */
.imagen-restaurante {
    max-width: 100%;
    height: auto;
    animation: zoomIn 0.6s ease-in-out; 
}

.dialogo-pago {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/*contenido del diálogo */
.dialogo-contenido {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px; 
    text-align: left;
}
header {
    text-align: center;
    margin-bottom: 20px;
}

.payment-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.payment-form {
    display: flex;
    flex-direction: column;
}

.payment-form h2 {
    color: #333;
    margin-bottom: 20px;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #a962fa; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f3e2c3; 
}

footer {
    margin-top: 20px;
    text-align: center;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #6f42c1;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
